{% extends "layout.html" %}

{% block title %}
    Purchase
{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Symbol</th>
    </tr>
    <tr>
    {% for data in info %}
        <td>{{ data }}</td>
    {% endfor %}
    </tr>
</table>
<div class="container">
    <div class="purchase">
        <div>
            Balance = {{ balance }}
        </div>
        <div>
            Cost = {{ cost }}
        </div>
        <div>
            New Balance = {{ new_balance }}
        </div>
    </div>
    <form action="{{ url_for('purchase') }}" method="post">
        <button type="submit" class="btn btn-default">Confirm Transaction</button>
    </form>
</div>
{% endblock %}
